{% extends "base.html" %}

{% block title %}
  Редактирование карточки
{% endblock %}

{% block content %}
  <br>
  {% with data=form.initial %}
  <div>
    <a href="{% url 'cards:card_info' data.id %}">Назад</a>
  </div>

  <h3>Редактировать {{ data.id }}</h3>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}

    <table>
      {% for field in form %}
      <tr>
        <td>
          {{ field.label }} {{ field }}
            {% if field.name != "name" and field.name != "last_name" and field.name != "avatar" %}
              <button type="button" onclick="addNewElement(this)">+</button>
              <button type="button" onclick="delElement(this)">-</button>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
    </table>

    <input type="submit" value="Сохранить изменения" class="btn btn-primary">
  </form><br>

  {% if form.is_valid %}
    <h3>Запись отредактирована</h3>
  {% endif %}

  {% endwith %}
{% endblock %}