{% extends "base.html" %}

{% block title %}
  Персональные карточки
{% endblock %}

{% block card_list %}

<div class="row">
    <div class="col-8">
        {% include "cards/card_new.html" %}
    </div>
    <div class="col-4">
        <form action="{% url 'cards:list' %}" method="get">
          <input name="q" type="text" placeholder="Search...">
            <input type="submit" value="Найти" class="btn btn-primary">
        </form>
    </div>
</div>

{% include "includes/paginator.html" %}

<div class="row">
  {% for card in page_obj %}
      <div>
        <a href="{% url 'cards:card_info_or_delete' card.id %}">
            <img src="{{ card.avatar.url }}" width="100px"><br>
            {{ card.name }} - {{ card.last_name }}
        </a>
      </div><br>
  {% endfor %}
</div>

{% endblock %}