{% extends "base.html" %}
{% block title %}
  Данные карточки
{% endblock %}
{% block content %}
  {% with data=form.initial %}

    {% for field in form %}
        {% if field.name == "avatar" %}
          <b>Аватарка:</b> <img src="{{ field.value.url }}" width="100px"><br>
        {% endif %}
    {% endfor %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}

    <table>
      {% for field in form %}
        {% if field.name != "avatar" %}
          <b>{{ field.label }}:</b> {{ field.initial }}<br>
        {% endif %}
      {% endfor %}
    </table>

    <p><b>Фотографии:</b></p>
    {% for file in files %}
      <a href="{{ file }}"><img src="{{ file }}" width="100px"></a>
    {% endfor %}
      <div>
        <input type="submit" value="Удалить запись" class="btn btn-primary">
      </div><br>
      <div>
        <a href="{% url 'cards:card_edit' data.id %}">Редактировать</a>
      </div>
    </form>

  {% endwith %}
{% endblock %}