{% extends "base.html" %}
{% block title %}
  Персональные карточки
{% endblock %}
{% block content %}
  {% with data=form.initial %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
      {% for field in form %}
        <b>{{ field.label }}:</b> {{ field.initial }}<br>
      {% endfor %}
    </table>
    <p><b>Фотографии:</b></p>
    {% for file in files %}
      <a href="{{ file }}"><img src="{{ file }}" width="100px"></a>
    {% endfor %}
      <div>
        <input type="submit" value="Удалить запись" class="btn btn-primary">
      </div><br>
      <div>
        <a href="{% url 'cards:card_edit' data.id %}">Редактировать</a>
      </div>
    </form>
  {% endwith %}
{% endblock %}