{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      function exampleFilter(elem) {
        switch (elem.nodeName.toUpperCase()) {
          case 'INPUT':
              return true;
          default:
              return false;
        }
      }

      function getAllSiblings(elem, filter) {
        var sibs = [];
        elem = elem.parentNode.firstChild;

        do {
            if (elem.nodeType === 3) continue; // text node
            if (!filter || filter(elem)) sibs.push(elem);
        } while (elem = elem.nextSibling)
        return sibs;
      }

      function delElement(e){
        var element = getAllSiblings(e, exampleFilter)[0]
        var td = element.parentNode
        var tr = td.parentNode
        tr.parentNode.removeChild(tr)
      }

      function addNewElement(e){
        var element = getAllSiblings(e, exampleFilter)[0]
        var td = element.parentNode
        var tr = td.parentNode
        var new_element = tr.cloneNode(true)
        new_element.childNodes
        tr.before(new_element)
        console.log(new_element.lastChild)
      }
      function delImage(card, image){
        const Http = new XMLHttpRequest();
        const url='http://localhost:8000';
        Http.open("POST", url);
        Http.send();
        console.log(Http.responseText)
      }
    </script>
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>
  <div>
    <a href="{% url 'cards:list' %}">На главную</a>
  </div>
  <br>
    <main>
      <div class="container py-5">
        {% block content %}

        {% endblock %}
      </div>
      <br>
      <div>
        <a href="{% url 'cards:card_new' %}">Создать новую карточку</a>
      </div>
    </main><br>
  </body>
</html>