{% extends "base.html" %}
{% block title %}
  Персональные карточки
{% endblock %}
{% block content %}

  {% with data=form.initial %}

  {% if '/edit/' in request.path %}
    <h3>Редактировать {{ data.id }}</h3>
  {% elif "/delete/" in request.path %}
      <h1>Удалить запись {{ data.id }}</h1>
  {% else %}
    <h1>Создать запись</h1>
  {% endif %}
  <script>
    function exampleFilter(elem) {
    switch (elem.nodeName.toUpperCase()) {
        case 'INPUT':
            return true;
        default:
            return false;
    }
}

    function getAllSiblings(elem, filter) {
    var sibs = [];
    elem = elem.parentNode.firstChild;

    do {

        if (elem.nodeType === 3) continue; // text node
        if (!filter || filter(elem)) sibs.push(elem);
    } while (elem = elem.nextSibling)
    return sibs;
}

    function send(e) {
      var URL = "/card_attr_delete/"
      var sib = getAllSiblings(e, exampleFilter)
      console.log(sib, sib[0].id, sib[0].value)
      let xhr = new XMLHttpRequest();
      URL = URL + sib[0].id + "/delete/"
      xhr.open("POST", URL)
      console.log(URL)
      var b = {"id":sib[0].id, "value":sib[0].value}
      xhr.send(b)
    }
<!--    <button type="button" onclick="send(this)">КНОПКА</button>-->
    </script>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% if not "/delete/" in request.path %}
<!--          {% for field in card_form %}-->
<!--            <tr>-->
<!--              <td>-->
<!--                {{ field.label }} {{ field }}-->
<!--              </td>-->
<!--            </tr>-->
<!--          {% endfor %}-->
<!--          {% for field in dynamic_form %}-->
<!--            <tr>-->
<!--              <td>-->
<!--                {{ field.label }} {{ field }}-->
<!--              </td>-->
<!--            </tr>-->
<!--          {% endfor %}-->
          {% for field in form %}
            <tr>
              <td>
                {{ field.label }} {{ field }}
              </td>
            </tr>
          {% endfor %}
        {% else %}
<!--          {% for field in card_form %}-->
<!--            {{ field.label }}: {{ field.initial }}<br>-->
<!--          {% endfor %}-->
<!--          {% for field in dynamic_form %}-->
<!--            {{ field.label }}: {{ field.initial }}<br>-->
<!--          {% endfor %}-->
          {% for field in form %}
            {{ field.label }}: {{ field.initial }}<br>
          {% endfor %}
        {% endif %}
    </table>
    {% if '/edit/' in request.path %}
      <input type="submit" value="Сохранить изменения" class="btn btn-primary">
    {% elif "/delete/" in request.path %}
       <input type="submit" value="Удалить запись" class="btn btn-primary">
    {% else %}
     <input type="submit" value="Создать запись" class="btn btn-primary">
    {% endif %}
  </form>

  {% if form.is_valid %}
    {% if '/edit/' in request.path %}
      <h3>Запись отредактирована</h3>
    {% else %}
      <h3>Запись сохранена: {{ data.id }}</h3>
    {% endif %}
  {% endif %}

  {% endwith %}
{% endblock %}