{% extends "base.html" %}
{% block title %}
  Персональные карточки
{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
        <tr>
            <td>
                {{ form }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" value="false" name="additems" id="additems">
    <button class="btn btn-primary" id="additemsbutton">Добавить запись</button>
    <input type="submit" value="Отправить" class="btn btn-primary">
  </form>
<script>
    $(document).ready(function() {
      $("#additemsbutton").on('click',function(event) {
        $("#additems").val("true");
      });
  });
</script>
{% endblock %}