<button onclick="hideShow('card_new')">Новая карточка</button><br>

{% with data=card_form.initial %}
  <form method="post" enctype="multipart/form-data" id="card_new" style="display: none">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
      {% for field in form %}
      <tr>
          <td>
            <b>{{ field.label }}:</b> {{ field }}
          </td>
        </tr>
      {% endfor %}
      {% for field in attr %}
        <tr>
          <td>
            <b>{{ field.label }}:</b> {{ field }}
            {% if field.field.widget.attrs.is_uniq == 'false' %}
              <button type="button" onclick="addNewElement(this)">+</button>
              <button type="button" onclick="delElement(this)">-</button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
     <input type="submit" value="Создать запись" class="btn btn-primary">
  </form>

  {% if form.is_valid %}
    <h3>Запись сохранена</h3>
  {% endif %}

{% endwith %}