.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-right: -100px;
}

.label {
  /*text-align: left;*/
  padding-right: 100px;
  flex: 1;
  max-width: 230px;
}

.fileInput {
  display: none;
}

.inputSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
}


.button {
  width: 182px;
  cursor: pointer;
  height: 48px;
  background: #dedede;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 25px;
}
