{% load static %}
<nav class="navbar navbar-light" style="background-color: lightskyblue">
  <div class="container">
      <ul class="nav  nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_cards:card_info' card.id %}">
            Общая информация
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_cards:social_network' card.id %}">
            Социальные сети
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_cards:card_files' card_id=card.id media='image' %}">
            Работа с медиафайлами
          </a>
        </li>
      </ul>
  </div>
</nav>