{% load static %}
<nav class="navbar navbar-light" style="background-color: lightskyblue">
  <div class="container">
      <ul class="nav  nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#">
            СМИ о персоне
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Публикации в соц. сетях
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Дикторы
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Поиск по фото
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Статистика
          </a>
        </li>
      </ul>
  </div>
</nav>